@model IEnumerable<Basketball_Workshop.Models.Coach>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavoriteFood)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteFood)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
