@model Basketball_Workshop.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRetired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRetired)
        </dd>
    </dl>
    <h4>Positions:</h4>
    <ul>
        @foreach(PlayerPosition p in Model.Positions)
        {
            <li>
                @p.Position.Name
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
